/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */





body {
	font-family: serif;
	font-size: 16px;
	padding-bottom: 20px;
}




.g-form {
	text-align: left;
}
.g-form-field-holder {
	margin: 10px 10px 10px 0;
}
label {
	display: block;
}
.t-input {
	padding: 4px;
	border: 1px solid #666;
	width: 100%;
	border-radius: 3px;
}




.button,
button {
	display: inline-block;
	overflow: visible;
	min-width: 110px;
	margin: 0;
	padding: 16px 20px;
	cursor: pointer;
	transition: background 0.2s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	border: 0;
	outline: 0;
	color: #fff;
	background: #095ea7;
	font-size: 1.3em;
	line-height: 0.8em;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
	border-radius: 3px;
	box-sizing: border-box;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
	background: #2d77b7;
}
.button:active,
button:active {
	box-shadow: 0 0 20px rgba(0,0,0, 0.3) inset;
}
@media (max-width: 639px) {
	.button,
	button {
		width: 100%;
	}
}

button.disabled,
.button.disabled {
	background: #9a9b9a;
	cursor: default;
	box-shadow: none;
}


.button-note {
	display: none;
	font-size: 0.7em;
	line-height: 1em;
	padding-top: 4px;
}





.username:before {
	content: '';
	display: block;
}

.monitor-page-title {
	text-align: center;
	font-weight: bold;
	background-color: #ffb900;
	padding: 3px 14px;
	position: relative;
}

.monitor-page-infobar {
	position: relative;
	clear: left;
	background-color: #095ea7;
	font-weight: bold;
	color: white;
	text-align: center;
	line-height: 1;
	display: table;
	width: 100%;
	font-size: 1.2em;
}
.monitor-page-infobar-item {
	padding: 6px;
	width: 33.33%;
	display: table-cell;
	vertical-align: middle;
}


.signup-link {
	position: absolute;
	top: 3px;
	right: 20px;
}


.checkintable {
	width: 100%;
	border-bottom: 1px solid #aaa;
	line-height: 1;
	table-layout: fixed;
}
.checkintable-row.zebra-dark {
	background: lightgray;
}
.checkintable-cell {
	border-left: 1px solid #aaa;
	padding: 0.3em 7px;
}
.checkintable-cell:first-child {
	border-left: none;
}
.checkintable-rownum {
	width: 16px;
	text-align: right;
	border-left: none;
}
.checkintable-name {
	min-width: 170px;
	width: 60%;
	height: 1em;
}
.checkintable-name,
.checkintable-exercise {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.checkintable-exercise-narrowscreen {
	display: none;
}
.checkintable-spacecell {
	display: none;
}
@media (min-width: 1024px) {
	.checkintable-name,
	.checkintable-exercise {
		width: 370px;
	}
	.checkintable-spacecell {
		display: inherit;
	}
}
@media (min-width: 800px) {
	.checkintable-cell {
		padding: 0.3em 14px;
	}
}
@media (max-width: 639px) {
	.checkintable-role {
		display: none;
	}
	.checkintable-exercise-narrowscreen {
		display: inline;
	}
	.checkintable-exercise-fullscreen {
		display: none;
	}
}
@media (max-width: 320px) {
	body {
		font-size: 15px;
	}
	.checkintable-rownum {
		padding: 0 2px;
	}
	.checkintable-exercise {
		font-size: 14px;
	}
}



.checkin-controls {
	padding: 10px 20px 20px;
	text-align: center;
}
.checkin-control-holder {
	display: inline-block;
	margin-left: 10px;
}
.checkin-control-holder:first-child {
	margin-left: 0;
}
@media (max-width: 639px) {
	.checkin-control-holder {
		margin: 0 0 16px;
		display: block;
	}
}



.exercise-dialog button {
	margin: 8px 4px;
}
@media (max-width: 639px) {
	.exercise-dialog button {
		margin-left: 0;
		margin-right: 0;
	}
}







.remodal {
	padding: 20px 30px 30px;
	border-radius: 3px;
	transform: none;
}
.remodal-close {
	left: auto;
	right: 0;
}


.login-form-dialog {
	max-width: 320px;
}
.login-form-submit-holder {
	margin-top: 20px;
}
.login-form-submit-button {
	width: 100%;
}


.dialog-title {
	font-size: 1.4em;
	font-weight: bold;
}



.checkintable-nav-holder {
	text-align: center;
}
.checkintable-nav {
	padding: 20px;
	text-align: left;
	display: inline-block;
}
.checkintable-nav-prev,
.checkintable-nav-next {
	width: auto;
	position: relative;
}
.checkintable-nav-prev {
	padding-left: 40px;
}
.checkintable-nav-next {
	float: right;
	padding-right: 40px;
}
.checkintable-nav-next:after,
.checkintable-nav-prev:before {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -6px;
	font-family: "Georgia";
	font-size: 34px;
	width: 10px;
	height: 10px;
	border-bottom: 3px solid #fff;
	box-shadow: 0 1px 1px rgba(0,0,0, 0.3);
}
.checkintable-nav-prev:before {
	content: '';
	left: 15px;
	border-left: 3px solid #fff;
	transform: rotate(45deg);
}
.checkintable-nav-next:after {
	content: '';
	right: 15px;
	border-right: 3px solid #fff;
	transform: rotate(-45deg);
}
@media (max-width: 390px) {
	.checkintable-nav-prev,
	.checkintable-nav-next {
		max-width: 130px;
	}
	.checkintable-nav-next:after,
	.checkintable-nav-prev:before {
		margin-top: -8px;
		width: 14px;
		height: 14px;
	}
}

.checkintable-nav {
	margin-left: -6px;
}
.checkintable-nav-bullet {
	margin-bottom: 16px;
	min-width: initial;
	width: 62px;
	margin-left: 6px;
	padding: 10px 6px 8px;
	font-size: 1.2em;
}
.checkintable-nav-bullet.active {
	background: #ffb900;
	color: #444;
	text-shadow: none;
	cursor: default;
}
.checkintable-nav-bullet:active.active {
	box-shadow: none;
}
.checkintable-nav-bullet-note {
	font-size: 0.7em;
	display: block;
	margin-top: 8px;
}



.checkin-button {
	padding-top: 20px;
	padding-bottom: 20px;
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
		background: transparent !important;
		color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

.working-time {
	text-align: center;
	margin-top: 200px;
}
