{include file='header.tpl'}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-0 col-xs-offset-0 ">

            <p></p>

            <p><a href="movement_funds.php" class="btn btn-info center-block">Посмотр движения средств</a></p>

            <p><a href="prepaid_services.php" class="btn btn-info center-block">Предоплачение сервисы</a></p>

            <p><a href="index.php" class="btn btn-success center-block">Назад к списку взлетов</a></p>
        </div>
    </div>
</div>

{include file='footer.tpl'}