
<!-- Форма выбора упражнения -->
<div class="remodal-wrapper remodal-is-closed" style="display: none;"><div class="remodal exercise-dialog remodal-is-initialized remodal-is-closed" data-remodal-id="exercise-dialog" tabindex="-1">
	<div data-remodal-action="close" class="remodal-close"></div>
	<div class="dialog-title">Дисциплина</div>
	<form action="{$smarty.server.PHP_SELF}" method="post">
		{foreach $Jump_Type as $value}
			<button type="submit" name="Jump_Type_ID" value="{$value['Jump_Type_ID']}">{$value['Jump_Type_Name']}</button>
		{/foreach}
		<input name="reg" value="reg" type="hidden">
		<input name="Load_ID" value="{$CurrentLoad['Load_ID']}" type="hidden">
	</form>
</div></div>
