{include file='header.tpl'}
<!-- вход или выход -->
<div class="monitor-page-title">
	{if $Personal_Account_ID neq 0}{$Personal_Account_Name} <span class="logout-link-holder">(<a class="logout-link" href="logout.php">Выйти</a>)</span><a href="cabinet.php">&nbsp;&nbsp;&nbsp;Войти в кабинет</a>
	{else}{$Title} <a class="signup-link" href="#login-form">Войти</a>{/if}
</div>

<!-- информация о текущем взлете -->
<div class="monitor-page-infobar clearfix">
	<div class='monitor-page-infobar-item'>Взлет № {$CurrentLoad['Load_Number']}&nbsp;</div>
	<div class='monitor-page-infobar-item'>Свободно {if $CurrentLoad['LoadQty'] gt 0}{$CurrentLoad['LoadQty']}{else}нет{/if}&nbsp;{$CurrentLoad['Seats']}</div>
	<div class='monitor-page-infobar-item'>Осталось {$CurrentLoad['MINUTES']}&nbsp;{$Minutes}</div>
</div>


<!-- список взлета -->
{$Maxload=16}
<form class="own-form" name="RegForm" method="POST">
	<input name="Load_ID" value="{$CurrentLoad['Load_ID']}" type="hidden">
<table class="checkintable"><tbody>
{foreach $LoadList as $customer}
	<tr class="checkintable-row {if $customer.Rank is not div by 2}zebra-dark{/if}">
		<td class="checkintable-spacecell"></td>
		<td class="checkintable-cell checkintable-rownum">{$customer.RowNum}</td>
		<td class="checkintable-cell checkintable-name">{$customer.Customer_Name}&nbsp;
		{if $Personal_Account_ID neq 0
		 && ($Customer_Type_ID eq 2 || $Customer_Type_ID eq 6)
		 && $Personal_Account_ID eq $customer.Owner_ID}
			<a href="#">Заполнить бронь</a>
			<input name="Load_List_ID" value="{$customer.Load_List_ID}" type="hidden">{/if}</td>
		<td class="checkintable-cell checkintable-exercise">{$customer.Exercise_Name}</td>
		<td class="checkintable-spacecell"></td>
	</tr>
{$Maxload=$Maxload-1}
{foreachelse}
	<tr class="checkintable-row"><td class="checkintable-cell" colspan="3" align="center">Вы можете быть первым!</td></tr>
	{$Maxload=15}
{/foreach}
{for $customer=1 to $Maxload}
	<tr class="checkintable-row">
		<td class="checkintable-spacecell"></td>
		<td class="checkintable-cell checkintable-rownum">&nbsp;</td>
		<td class="checkintable-cell" colspan="1">&nbsp;</td>
		<td class="checkintable-cell checkintable-exercise">&nbsp;</td>
		<td class="checkintable-spacecell"></td>
	</tr>
{/for}
</tbody></table>
</form>


<!-- навигация между взлетами -->
<div class="checkintable-nav-holder">
	<form class="checkintable-nav clearfix" action="" method="post">
		{foreach $Loads as $value}
			{if $value['Load_ID'] eq $CurrentLoad['Load_ID']}
				<div class="button checkintable-nav-bullet active" type="submit" name="Load_ID" value="{$value['Load_ID']}">{$value['Load_Number']|strip:''}-й взлет<span class="checkintable-nav-bullet-note">{if $value['LoadQty'] gt 0}{$value['LoadQty']}{else}нет{/if} {$value['Seats']}</span></div>
			{else}
				<button class="checkintable-nav-bullet" type="submit" name="Load_ID" value="{$value['Load_ID']}">{$value['Load_Number']|strip:''}-й взлет<span class="checkintable-nav-bullet-note">{if $value['LoadQty'] gt 0}{$value['LoadQty']}{else}нет{/if} {$value['Seats']}</span></button>
			{/if}
		{/foreach}
	</form>
</div>



<!-- кнопка записи/выписки во взлет -->
{if $Personal_Account_ID neq 0 &&
	   ($Customer_Type_ID eq 2 || $Customer_Type_ID eq 5 || $Customer_Type_ID eq 6)}
	<form class="reg-form" name="RegForm" method="POST">
		<div class="checkin-controls">
		<div class="checkin-control-holder">
			{if !$InLoad}
				{if $CurrentLoad['LoadQty'] eq 0 || $CurrentLoad['Rezerved']}<div class="button checkin-button disabled">Записаться в {$CurrentLoad['Load_Number']|strip:''}-й взлет</div>
				{else}{if $CurrentLoad['MINUTES'] ge 15}<a class="button checkin-button" href="#exercise-dialog">Записаться в {$CurrentLoad['Load_Number']|strip:''}-й взлет</a>
					{else}<div class="button checkin-button disabled">До {$CurrentLoad['Load_Number']|strip:''}-го взлета осталось {$CurrentLoad['MINUTES']}&nbsp;{$Minutes}</div>
					{/if}
				{/if}
			{else}
				{if $CurrentLoad['MINUTES'] ge 15}<button name="reg" value="unreg">Выписаться</button>{/if}
			{/if}
		</div>
		</div>
		<input name="Load_ID" value="{$CurrentLoad['Load_ID']}" type="hidden">
	</form>
{/if}

{if $Personal_Account_ID eq 0}
	{include 'register.tpl'}
{else}
	{include 'exercise.tpl'}
{/if}

{if isset($msg)}
	{include 'error.tpl'}
<script src='js/main.js'></script>
{/if}
{include file='footer.tpl'}